<h1>Sign Up</h1>
<div>
    <div class="row">
        <form class="col s12" method="POST" action="/auth/signup">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Username" id="username" type="text" name="username">
                    <label for="username">Username</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Email" id="email" type="email" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Password" id="password" type="password" name="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <button class="btn waves-effect cyan darken-3" type=="submit">Sign Up
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>