<% if (alerts && alerts.error) { %>
    
    <div class="card red darken-1" style="margin: 0; padding: 0px">
        <div class="card-content white-text">
            <% alerts.error.forEach(e => { %>
              <p>Authentication Error: <%= e %></p>
            <% }) %> 
            </div>
        </div>
<% } %>

<% if (alerts && alerts.success) { %>
    
  <div class="card green darken-1" style="margin: 0; padding: 0px">
      <div class="card-content white-text">
          <% alerts.success.forEach(s => { %>
            <p><%= s %></p>
          <% }) %> 
          </div>
      </div>
<% } %>