<h1>Add A New Song</h1>

<div class="row">
    <form class="col s12" method="POST" action="/songs/new/add">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="song Name" name="song" type="text" class="validate">
          <label for="song">Song Name</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="genre Status" name="genre" type="text" class="validate">
          <label for="genre">Genre</label>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="artist" Aype="text" name="artist" Alass="validate">
          <label for="artist">Artist</Aabel>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          </div>
        </div>
      </div>

      <input type="submit" class="btn green darken-4" value="submit"></input>
    </form>
  </div>