<div style="background-image: url('<%= currentUser.coverpic %>'); background-size: cover; width: 100vw; height: 37.5vw">
    <img style="margin: 8.5vw 39.25vw; border-radius: 50%; border: 3px solid black; height: 20.5vw; width: 20.5vw"
    class="profpic" src="<%= currentUser.profilepic %>" alt="profile pic">
    <h1 style="color: white; margin: 0; position: absolute; top: 35vw; left: 5vw;"><%= currentUser.username %></h1>
</div>