<div class="searchArtists">
    <div class="center row">
        <div class="col s12" >
          <div class="row" id="topbarsearch" style="display:grid;grid-template-columns: 1fr 10fr;">
              <i class="cyan-text text-lighten-2 material-icons" style="padding: 0; margin: 25px -20px 0 0;">search</i>
            <div class="input-field col s6 s12 red-text">
              <form action="/playlist/search/artist" method="POST">
                  <input name="s" type="text" placeholder="Search Artists" id="autocomplete-input" class="autocomplete red-text" >
              </form>
            </div>
          </div>
        </div>
    </div>    
</div>